%form.form-horizontal{:action => '/location/create', :method => 'POST'}
  %fieldset
    %legend New Location
    .control-group
      %label{:class => 'control-label',:for => 'name'} Name:
      .controls
        %input{:type => 'text', :name => 'name', :id => 'locationName'}
    .control-group      
      %label{:class => 'control-label',:for => 'address'} Address:
      .controls
        %input{:type => 'tex†', :name => 'address', :id => 'locationAddress'}
    .control-group        
      %label.control-label{:for => 'travel'} How do you get there?
      .controls
        %label.checkbox.inline 
          %input.checkbox{:type => 'checkbox', :name => 'travel', :id => 'locationDistanceWalking', :value => 'walking'}
          Walking

        %label.checkbox.inline
          %input.checkbox{:type => 'checkbox', :name => 'travel', :id => 'locationDistanceDriving', :value => 'driving'}
          Driving
          
    .form-actions
      %button.btn.btn-success{:type => 'submit'} Save
