!!!
%html{:lang => 'en'}
  %head
    %title Lunchboxing
    %link{:href => '/css/bootstrap.css',:rel => 'stylesheet'}
    %link{:href => '/css/bootstrap-local.css', :rel => 'stylesheet'}
    %link{:rel => 'icon', :type => 'image/png', :href => '/img/box-black.png'}
  %body{:style => 'padding-top:40px;'}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"}
            %img{:src => "img/box.png"}

          %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          - if current_user    
            %ul.nav.pull-right
              %li
                %a{:href => '/locations'} Locations

              %li.divider-vertical

              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => '/logout'} Log Out
              
          - else
            %p.navbar-text &nbsp;
