= partial("header")
.container-fluid
  .row-fluid
    - if current_user
      = partial("loggedin")
    - else
      .span9
        .hero-unit
          .loggedout
            %h3 
              %a{:href => "/login"} login with github

= partial("footer")
