= partial("header")

- if current_user
  = partial("loggedin")
- else
  .row-fluid
    .span9
      .hero-unit        
        .loggedout
          %h3 
            %a{:href => "/login"} login with github

= partial("footer")
