= partial("header")
.container
  .row
    .span12{:style => "background: none;"}
      - if current_user
        = partial("loggedin")
      - else
        .hero-unit#loggedout
          %h3
            %a{:href => "/login"} login with github
= partial("footer")
