= partial("header")

- if current_user
  = current_user.id.to_s + "..." + session[:user_id].to_s + "..." + current_user.name.to_s
  %a{:href => "/logout"} logout
  = partial("locations")
  = partial("add_location")
- else
  %a{:href => "/login"} login with github

