= partial("header")
.container
  .row
    - if current_user
      = partial("loggedin")
    - else
      .span12
        .hero-unit#loggedout
          %h3
            %a{:href => "/login"} login with github
= partial("footer")
