= partial("header")
.container
  .row
    .span2.offset2
      %p
        - user_listed_locations do |location|
          %h3
            = location.name 
            .btn-group
              .btn.btn-danger
                %i.icon-remove.icon-white
              .btn
                %i.icon-edit

= partial ("footer")
